{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins":
        [
          ["module-resolver",{
              "root": ["./"],
              "alias": {
                "@components": "./components",
                "@resources": "./resources",
                "@assets": "./assets",
                "@images": "./assets/images",
                "@pages": "./pages",
                "@lib": "./lib",
              }
            }
          ]
        ]
      }
    }
  }
